.home-page{
   min-height: calc(100vh - 70px);
   // height: fit-content;
   background-color: rgb(206, 250, 186);
   position: relative;
   padding-top: 10px;
   // & .add-item-container{
   //    display: flex;
   //    justify-content: center;
   //    align-items: center;
   //    @media (max-width:800px) {
   //       height: 110px;
   //    }
   //    & .add-item-btn{
   //       background-color: rgb(123, 250, 123);
   //       border-radius: 35px;
   //       font-size: 1.2rem;
   //       padding: 10px 20px;
   //       position: absolute;
         
   //       @media (max-width:800px) {
   //          position:relative;
   //          right: unset;
   //          top:unset;
   //          transform: unset;
   //          margin: 0 auto;
   //       }
   //    }
   // }
   & .start-here-container{
      @media (max-width:800px) {
         padding-bottom: 20px;
      }
   }
   & .add-item-container{
      @media (max-width:800px) {
         display: flex;
         align-items: center;
      }
   }
   & .start-here-container,
   & .add-item-container{
      @media (max-width:800px) {
         margin: 0 auto;
         height: 100px;
         width: 200px;
      }
      & .start-here-btn,
      & .add-item-btn{
         padding: 15px 25px;
         background-color: rgb(123, 250, 123);
         border-radius: 35px;
         position: absolute;
         font-size: 2rem;
         @media (max-width:800px) {
            position:relative;
            left:unset;
            right:unset;
            top:unset;
            transform: unset;
            margin: 0 auto;
         }
      }
      & .start-here-btn{
         left:10%;
         top:50%;
         transform: translateY(-50%);
      }
      & .add-item-btn{
         top:5%;
         right:2%;
      }
   }
   & .hero-container{
      height: 500px;
      width: 500px;
      margin: 0 auto;
      position: relative;
      @media (max-width:500px) {
         width: 100%;
      }
      & .txt-hero{
         color:#393547;
         font-size: 4rem;
         font-family:'Lucida Sans Unicode', sans-serif;
         @media (max-width:500px) {
            font-size: 3rem;
         }
      }
      & .hero{
         height: 440px;
         object-fit:contain;
         @media (max-width:500px) {
            height: 340px;
         }
      }
      & .hero-title{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         & .food-container{
            display: flex;
            gap:20px;
            & .fruit{
               position: absolute;
               bottom: 16%;
               right:5%;
               @media (max-width:500px) {
               position:relative;
               bottom: unset;
               right:unset;
            }   
         }
         & .vegetable{
            position: absolute;
               bottom: 16%;
               left:3%;
               @media (max-width:500px) {
                  position:relative;
                  bottom: unset;
                  right:unset;
               }
            }
         }
         & .fresh{
            position: absolute;
            bottom: -4%;
            right:10%;
            @media (max-width:500px) {
               position:relative;
               bottom: unset;
               right:unset;
            }
         }
      }
   }
}