.form-edit{

   & .sale{
      display: flex;
      align-items: center;
      gap:10px;
      & input[name="salePercent"]{
         width: 70px;
         height: 25px;
         // border:0;
         // outline: none;
      }
   } 
   .img-container{
      display: flex;
      align-items: center;
      gap:10px;
      .img-upload{
         height: 40px;
         width: 40px;
         cursor: pointer;
      }
      .img-loading{
         height: 45px;
         width: 120px;
      }
      .res-img-container{
         position: relative;
         .res-img{
            height: 100px;
            width: 100px;
         }
         .remove-img{
            position: absolute;
            right: 0;
            top:0;
            cursor: pointer;
         }
      }
   }
}
    
    
    .switch input {
      position: absolute;
      opacity: 0;
  }
  .switch {
      display: inline-block;
      font-size: rem(20px);
      /* 1 */
      height: 1em;
      width: 2em;
      background: #BDB9A6;
      border-radius: 1em;
  }
  .switch div {
      height: 1em;
      width: 1em;
      border-radius: 1em;
      background: #FFF;
      box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
      transition: all 300ms;
  }
  .switch input:checked+div {
      transform: translate3d(100%, 0, 0);
      background: $clr1;
  }