.form-signup{
   direction: rtl;
   display: flex;
   gap:100px;
   justify-content: space-around;
   @media (max-width:950px) {
      gap:20px;
   }
   @media (max-width:815px) {
      flex-direction: column;
      width: 400px;
      margin: 0 auto;
      background-color: rgb(228, 228, 228);
      border:2px solid rgb(211, 211, 211);
      border-radius: 8px;
      padding: 30px 10px;
   }
   @media (max-width:485px) {
      width: 100%;
   }
   & .part1{
      width: 400px;
      display: flex;
      flex-direction: column;
      gap:18px;
      @media (max-width:950px) {
         width: 360px;
         input{
            width: 360px;
         }
      }
      @media (max-width:485px) {
         margin: 0 auto;
      }
      & .double-in-line{
         display: flex;
         justify-content: space-between;
         gap:15px;
         &.el-input{
            width: 187px !important;
         }
         @media (max-width:950px) {
            input{
               width: 172px;
            }
         }
      }
   }
   & .part2{
      width: 400px;
      display: flex;
      flex-direction: column;
      gap:18px;
      @media (max-width:950px) {
         width: 360px;
         input,button{
            width: 360px;
         }
      }
      @media (max-width:485px) {
         margin: 0 auto;
      }
   }
   .sub-title{
      font-size: 2rem;
   }
   .valid{
      color:red;
   }
}