.user-profile{
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   @media (max-width:1150px) {
      flex-direction: column;
   }
   & aside{
      @media (max-width:1150px) {
         display: flex;
         flex-direction: column;
         padding-bottom: 20px;
         margin-bottom: 20px;
         border-bottom: 1px solid gray;
      }
      @media (max-width:485px) {
         margin-bottom: 0;
         padding-right: 15px;
      }
      & .title{
         font-size: 2.5rem;
         text-align: right;
         text-decoration: underline gray;
      }
      & .greet{
         color:gray;
         text-align: right;
         margin-bottom: 20px;
      }
      & .nav-profile{
         width: 250px;
         display: flex;
         align-items: flex-end;
         flex-direction: column;
         gap:20px;
         @media (max-width:1150px) {
            width: 100%;
         }
         & .active{
            padding: 5px 10px;
            background-color: rgb(166, 243, 103);
            width: fit-content;
            border-radius: 10px;
         }
         & >*{
            display: flex;
            align-items: center;
            gap:10px;
            & .txt{
               font-size: 1.2rem;
            }
            & .icon{
               background-color: rgb(231, 231, 231);
               padding: 5px;
               border-radius: 20px;
               &.orders{
                  color:blue;
               }
               &.edit{
                  color:green;
               }
               &.logout{
                  color:red;
               }
            }
         }
      }
   }
   & .main{
      width: 100%;
   }
}