.user-profile{
   display: flex;
   flex-direction: row-reverse;
   .nav-profile{
      width: 250px;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      gap:20px;
      padding: 15px;
      .active{
         padding: 5px 10px;
         background-color: rgb(166, 243, 103);
         width: fit-content;
         border-radius: 10px;
      }
   }
}