.app-header{
   @media (max-width:470px) {
      padding: 0 5px;
   }
   height: 70px;
   background-color: rgb(160, 226, 98);
   padding: 0 15px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   & .logo{
      @media (max-width:470px) {
         width: 150px;
      }
      position: absolute;
      height: 70px;
      width: 200px;
      object-fit: contain;
      top:0;
      left: 50%;
      transform: translateX(-50%);
   }
   & .nav-side-auth{ 
      @media (max-width:470px) {
         gap:0px;
      } 
      display: flex;
      align-items: center;
      gap:10px;
      & .login-btn{
         cursor: pointer;
      }
      & .auth-in-header{
         @media (max-width:900px) {
            display: none;
         }
      }
      & .search-icon{
         height: 30px;
         width: 50px;
         cursor: pointer;
      }
      & .search-popup{ 
         position: absolute;
         left:-370px;
         top:70px;
         transition: left .5s;
         height: fit-content;
         padding: 10px 5px;
         border: 2px solid rgb(190, 190, 190);
         background-color: rgb(228, 228, 228);
         border-radius: 3px;
         z-index: 2;
         &.search-open{
            left:0;
            transition:left .5s;
         }
         & .close-search{
               position: absolute;
               top:0px;
               right:0px;
               cursor: pointer;
               font-size: 1.7rem;
         }
         & .search{
            background-color: rgb(187, 187, 187);
            border-radius: 30px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            padding: 0 10px;
            height: 50px;
            width: 350px;
            margin: 0 auto 10px;
            & input{
               background-color: rgb(187, 187, 187);
               width: 1030px;
               border-radius: 20px;
               padding: 10px;
               outline: none;
               border:0;
               font-size: 1.2rem;
               text-align: right;
            }
            & img{
               height: 30px;
            }
         }
      }
   }
   & .nav-in-header{
      display: flex;
      align-items: center;
      gap:20px;
      font-size: 1.3rem;
      @media (max-width:900px) {
         display: none;
      }
   }
   & .nav-side{
      display: none;
      position: relative;
      right: -250px !important;
      transition: right .6s;
      @media (max-width:900px) {
         &.menu-open{
            right: 0 !important;
            transition: right .6s;
         }
         display: flex;
         flex-direction: column;
         position: fixed;
         top:0;
         background-color: rgb(236, 236, 236);
         height: 100vh;
         width: 250px;
         z-index: 4;
         padding: 10px;
         .nav-link{
            font-size: 1.5rem;
            width: 100%;
            text-align: right;
            height: 70px;
            border-bottom: 20px;
            line-height: 50px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap:10px;
            & .img-nav{
               height: 40px;
               width: 40px;
               object-fit: contain;
            }            
         }
         .nav-link:not(:last-child){
            border-bottom: 1px solid gray;
         }
         &:first-child(){
            margin-bottom: 20px;
         }
      }
      & .auth-in-side{
         display: none;
         & .close-btn{
            font-size: 1.7rem;
            cursor: pointer;  
         }
         @media (max-width:900px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
         }
      } 
      & .nav-img{
         position: absolute;
         bottom: 0;
      }    
   }
   & .nav-in-header{
      @media (max-width:900px) {
         display: none;
      }  
   }
   & .menu-btn{
      background-color: unset;
      border:0;
      span {
         font-size: 2.2rem;
      }
      display: none;
      @media (max-width:900px) {
         display: inline-block;
      }
   }
}