.auth{
   background-color: rgb(242, 255, 238);
   padding: 7px 14px;
   width: 140px;
   height: 50px;
   border-radius: 30px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   position: relative;
   & .person-icon-img{
      position: absolute;
      left: 0px;
      height: 50px;
      width: 50px;
      object-fit: cover;
   }
}