.cart{
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(242, 255, 238);
   padding: 7px 14px;
   width: 130px;
   height: 50px;
   border-radius: 30px;
   position: relative;
   &.is-my-order-page{
      background-color: rgb(214, 214, 214);
      cursor:auto
   }
   &.is-adding{
      // background-color: red;
      animation: isAdding 1s linear 1;
   }
   & .cart-count{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.767);
      color:white;
      padding: 3px;
      border-radius: 20px;
      width: 17px;
      height:17px;
      position: absolute;
      right: 20px;
      bottom: 1px;
      font-size: rem(13px);
      z-index: 1;
   }
   & .cart-icon{
      position: absolute;
      top:0;
      right: 5px;
      height: 48px; 
      width: 50px;
   }
}

@keyframes isAdding {
   0%{
      background-color: red;
   }
   100%{
      background-color: rgb(242, 255, 238);
   }
}