.item-order-list{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap:10px;
   max-height: 400px;
   overflow-y: auto;
   display: grid;
   padding: 10px;
   &.recent-order-page{
      overflow-y: unset;
      max-height: unset;
   }
   & .not-found{
      max-width: 490px;
      min-width: 350px;
      text-align: center;
   }
}