.filter{
   border: 0;
   width: 95%;
   width: 490px;
   height: 30px;
   background-color: rgb(192, 206, 193);
   margin: 0px 15px;
   padding: 10px;
   font-size: 1.1rem;
   outline: none;
   margin-bottom: 15px;
   border-radius: 3px;
}