.item-preview{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   &:hover{
      .edit,.remove-item{
         opacity:1;
         transition: opacity .4s;
      }
      & .under-line{
         & .item-count{
            display: none;
         }
         & .actions{
            display: flex;
         }
      }
   }
   & .edit{
      position:absolute;
      top:5px;
      left: 35px;
      opacity:0;
      transition: opacity .4s;
      z-index: 1;
   }
   & .remove-item{
      position:absolute;
      top:5px;
      left: 5px;
      opacity:0;
      transition: opacity .4s;
      cursor: pointer;
      z-index: 1;
   }
   & .sale-img{
      width: 66px;
      position: absolute;
      right: -18px;
      top: 5px;
      transform: rotateZ(45deg);
   }
   & .img{
      height: 130px;
      width: 130px;
      object-fit: contain;
   }
   & .under-line{
      height: 25px;
      position: absolute;
      top:112px;
      padding: 0 10px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      & .item-count{
         background-color: #EEDB14;
         padding: 5px;
         height: 25px;
         width: 25px;
         text-align: center;
         line-height: 0.9;
         border-radius: 20px;
      }
      & .actions{
         display: none;
         gap:5px;
         align-items: center;
         justify-content: center;
         & .btn-to-card{
            background-color: rgb(197, 196, 196);
            border-radius: 15px;
            border: 0;
            width: 25px;
            height: 25px;
            padding: 0;
            line-height: 0.5;
         }
         & .item-count-inside{
            font-weight: bold;
         }
      }
      & .discount{
         display: flex;
         flex-direction: row-reverse;
         color:red;
      }
   }
   & .info{
      width: 100%;
      padding-top: 10px;
      border-top: 1px solid gray;
      text-align: end;
      display: flex;
      flex-direction: column;
      gap:10px;
      & .name{
         font-weight: bold;
         font-size: rem(25px);
      }
      & .price{
         font-size: rem(18px);
         & span.sale-price{
            text-decoration: line-through;
         }
         & .price-by-discount{
            color:red;
         }
      }
      & .weight{
         font-size: rem(18px);
         color:gray;         
      }
   }
}