.item-detail{
   background-color: #fff;
   border-radius: 10px;
   width: 60vw;
   height: 65vh;
   position: absolute;
   top:50%;
   left:50%;
   transform: translate(-50%,-50%);
   z-index: 10;
   padding: 30px;
   display: grid;
   align-items: center;
   gap:65px;
   grid-template-columns: 2fr 1fr;
   & .close{
      position: absolute;
      top:5px;
      right:5px;
      cursor: pointer;
   }
   & .img-sale{
      height: 35px;
      width: 100px;
      position: absolute;
      top:0;
      left:-30px;
      transform: rotate(-45deg);
   }
   & .discount{
      font-size: 1.3rem;
      position: absolute;
      top:27px;
      left:-5px;
      display: flex;
      flex-direction: row-reverse;
      color:red;
      transform: rotate(-45deg);
      letter-spacing: 1px;
   }
   & .info{
      grid-column: 1/2;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap:15px;
      font-size: rem(20px);
      text-align: right;
      line-height: 25px;
      & .name{
         align-self:flex-end;
         font-weight: bold;
         font-size: rem(45px);
      }
      & .price{
         font-size: rem(26px);
         & span.sale-price{
            text-decoration: line-through;
         }
         & .price-by-discount{
            color:red;
         }
      }
      & .weight{
         font-size: rem(18px);
         color:gray;         
      }
      & .btn-add-to-cart{
         width: 135px;
         height: 50px;
         font-size: 1.2rem;
         border-radius: 30px;
         border:0;
         background-color: rgb(136, 255, 136);
         font-weight: bold;
      }
      & .login-alert{
         font-size: 1.3rem;
      }
      & .actions{
         display: flex;
         gap:15px;
         align-items: center;
         justify-content: center;
         & .btn-to-card{
            border-radius: 15px;
            border: 0;
            width: 25px;
            height: 25px;
            padding: 0;
            line-height: 0.5;
            background-color: rgb(233, 233, 233);
            transition: background-color .3s;
            &:hover{
               background-color: rgb(161, 255, 107);
               transition: background-color .3s;
            }
         }
         & .item-count-inside{
            font-weight: bold;
         }
      }
   }
   & .item-img{
      grid-column: 2/3;
      height: 200px;
      width: 200px;
   }
}