.my-order{
   background-color: rgb(205, 248, 188);
   background-color: #F5F5F4;
   width: 550px;
   height:100vh;
   position: absolute;
   overflow-x: hidden;
   transform: translateX(-100%);
   transition: transform 0.6s;
   z-index: 5;
   &.is-open{
      transform: translateX(0);
      transition: transform 0.6s;
   }
   & main{
      padding: 15px;
      padding-bottom:0;
      height: calc(100% - 100px);
      & .header-order{
         height: 50px;
         display: flex;
         justify-content: space-around;
         align-items: center;
         margin-bottom: 15px;
         & .title{
            font-size: 2.5rem;
         }
         & .header-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap:5px;
            cursor: pointer;
            & .icon{
               background-color: yellow;
               border-radius: 20px;
               padding: 7px;
               width: 40px;
               height: 40px;
            }
         }
         & .close-btn{
            position:absolute;
            top:10px;
            right:10px;
            font-size: 1.7rem;
            cursor: pointer;  
         }
      }
      & .item-container{
         display: flex;
         height: calc(100% - 70px);
         flex-direction: column;
         & .cart-list{
            overflow-y: auto;
            flex-grow: 1;
         }
         
         & .cart-empty{
            display: flex;
            flex-direction: column;
            gap:10px;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            & .start-here{
               color:rgb(252, 60, 46);
            }
         }
      }
   }
   & footer{
      border-top: 3px solid rgb(158, 158, 158);
      height: 100px;
      background-color: rgb(255, 255, 255);
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      .complete-order{
         display: flex;
         align-items: center;
         justify-content: center;
         gap:15px;
         background-color: rgb(94, 238, 94);
         height: 50px;
         width: 150px;
         font-size: 1.2rem;
         font-weight: bold;
         text-align: center;
         border-radius: 15px;
         padding: 10px;
         cursor: pointer;
         & .loading-img{
            height: 30px;
            width: 30px;
         }
      }
   }
}