.search-item-list{
   width: 350px;
   display: flex;
   border-radius: 4px;
   flex-direction: column;
   align-items: center;
   gap:7px;
   max-height: 400px;
   overflow-y: auto;
   background-color: rgb(228, 228, 228);
   z-index: 3;
}