.flex {
   display: flex;
   &.column { flex-direction: column; }
   &.j-center { justify-content: center; }
   &.j-end { justify-content: flex-end; }
   &.j-start { justify-content: flex-start; }
   &.a-center { align-items: center; }
   &.a-end { align-items: flex-end; }
   &.a-start { align-items: flex-start; }
   &.wrap { flex-wrap: wrap; }
   &.s-between { justify-content: space-between; }
   &.s-around { justify-content: space-around; }
   &.auto-center {
       justify-content: center;
       align-items: center;
   }
   > *.full-grow { flex: 1;}
}

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

// Spacing
.p5 { padding: 5px; }
.p10 { padding: 10px; }
.p20 { padding: 20px; }
.m5 { margin: 5px; }
.m10 { margin: 10px; }
.m20 { margin: 20px; }
.mb20 { margin-bottom: 20px; }
.mt20 { margin-top: 10px; }

// Normalize Background
.normBackground {
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.pointer{ cursor: pointer;}
// Aspect ratios
.ratio-16-9 { @include aspect-ratio(100, 56); }
.ratio-square { @include aspect-ratio(100, 100); }
.ratio-card { @include aspect-ratio(100, 80); }
.ratio-poster { @include aspect-ratio(100, 150); }

